@import url("https://cdn.jsdelivr.net/gh/ApurvaSawant11/Dazzle-UI-Components@development/components/components.min.css");
:root {
    --primary:#13e36d;
    --secondary: #9f9fff;
    --text-color: #1d1d1d;
    --theme-bg: #ffffff;
    --border-color: #a9a8a8;
    --light-hover: #dfdfdf;
    --blue: #6969ed;
    /*!important is used to override react toastify colors */
    --toastify-color-info: var(--info) !important;
    --toastify-color-success: var(--secondary) !important;
    --toastify-color-warning: var(--warning) !important;
    --toastify-color-error: var(--danger) !important;
    --toastify-text-color-light: var(--text-color) !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--text-color);
    border-radius: 5px;
}

.palette-color-circle {
  border-radius: 50%;
  border: 1px solid var(--border-color);
  width: 2rem;
  height: 2rem;
  margin: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.pointer-none {
    pointer-events: none;
}

.opacity-60 {
    opacity: 60%;
}