@import url("https://cdn.jsdelivr.net/gh/ApurvaSawant11/Dazzle-UI-Components@development/components/components.min.css");
:root {
    --primary:#13e36d;
    --secondary: #9f9fff;
    --text-color: #1d1d1d;
    --theme-bg: #ffffff;
    --border-color: #a9a8a8;
    --light-hover: #dfdfdf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--text-color);
    border-radius: 5px;
}
